@model Product

<div class="container">

    <h3 class="my-5">
        @Model.Name
    </h3>
    <p>
        <a href="/Product/Grid" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i>
        </a>
    </p>

    <div class="row gx-5" enctype="multipart/form-data">
        <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid col-5 fixed-height-img-details" />
        <div class="col-7">
            <h5>@Model.Description</h5>
            <h3>@Model.Price.ToString("0.00 NOK")</h3>
            <h6>@Model.Nutrition</h6>
            <h4 class="text-nowrap">
                <span class="nutrition-score" data-score="@Model.NutriScore">@Model.NutriScore</span>
            </h4>
            <hr />
            <div class="btn-group" role="group" aria-label="Basic example">
                <a type="button" class="btn btn-primary" asp-action="Update" asp-route-id="@Model.ProductId">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ProductId">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/nutrition-table.js"></script>
}