@model IEnumerable<Producer>

<div class="container">
    <h1>List of Producers</h1>
    <a asp-action="Create" class="btn btn-primary mb-4"><i class="bi bi-table"></i> Register Producer</a>
    @foreach (var producer in Model)
    {
        <div class="container" style="border: 1px solid #ccc; border-radius: 8px; padding: 10px; margin-bottom: 20px;">
            <table class="table table-striped custom-table" style="max-width: 1200px;">
                <thead>
                    <tr class="table-header">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@producer.ProducerId</td>
                        <td>@producer.Name</td>
                        <td>@producer.Address</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" class="btn btn-primary" style="color: white;" asp-action="Update"
                                    asp-route-id="@producer.ProducerId">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a type="button" class="btn btn-danger" style="color: white;" asp-action="Delete"
                                    asp-route-id="@producer.ProducerId">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <p><strong>About</strong></p>
                <partial name="_ProducerProductTable" model="producer.Products" />
            </table>
        </div>
    }
</div>