@model IEnumerable<Producer>

<div class="container">
    <h1>List of Producers</h1>
    <a asp-action="Create" class="btn btn-primary mb-4"><i class="bi bi-pencil-square"></i> New</a>
    @foreach (var producer in Model)
    {
        <div class="container" style="border: 1px solid #ccc; border-radius: 8px; padding: 10px; margin-bottom: 20px;">
            <div>
                <h2 class="h2">@producer.Name</h2>
                <dl class="row">
                    <dt class="col-sm-2">Id:</dt>
                    <dd class="col-sm-10">@producer.ProducerId</dd>

                    <dt class="col-sm-2">Address:</dt>
                    <dd class="col-sm-10">@producer.Address</dd>

                    <dt class="col-sm-2">Actions:</dt>
                    <dd class="col-sm-10">
                        <div class="btn-group" role="group" aria-label="Producer Action Buttons">
                            <a type="button" class="btn btn-primary" style="color: white;" asp-action="Update"
                                asp-route-id="@producer.ProducerId">
                                <i class="bi bi-pencil-square"></i> Update
                            </a>
                            <a type="button" class="btn btn-danger" style="color: white;" asp-action="Delete"
                                asp-route-id="@producer.ProducerId">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </dd>
                </dl>

            </div>
            <partial name="_ProducerProductTable" model="producer.Products" />
        </div>
    }
</div>